@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --color-principal: rgb(17, 121, 42);
  --color-verde-claro: #80a571;
  --color-texto: #5f727f;
  --negro: #13131a;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}

.logo {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-right: 20px;
}

.logo img {
  height: 100px;
  width: 60px;
}

.logo-text h2 {
  font-size: 18px;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 0;
}

.separator {
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
}

.logo-text p {
  font-size: 15px;
  text-align: center;
  color: #fff;
}

/* subrayado de los link <a> del navbar */
.navbar ul li a::after {
  content: "";
  height: 3px;
  width: 0;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li a:hover::after {
  width: 100%;
}

/* --------------- HERO --------------- */

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/fondopelota.jpg);

  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.content h1 {
  font-size: 44px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9); /* Color de texto con opacidad reducida */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para mejorar la legibilidad */
  margin-bottom: 10px;
  text-transform: uppercase;
}

.content p {
  font-size: 22px;
  color: #fff;
  text-align: center;
  margin-bottom: 45px;
}

.separator-hero {
  border-bottom: 2px solid #fff;
  width: 100%;
  margin: 10px auto;
}

.buttons .button {
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-verde-claro);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-transform: uppercase;
}

.buttons .button:hover {
  background-color: #63a375;
}

.buttons .button a {
  color: #fff;
  text-decoration: none;
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .hero {
    height: 100vh;
    padding: 30px;
  }

  .hero h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .hero p {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
}

/* --------------- Media Queries -------------- */

@media only screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  .logo img {
    height: 40px;
  }

  .navbar ul li {
    margin: 0 10px;
  }

  .hero {
    padding: 50px;
  }

  .content h1 {
    font-size: 40px;
    margin-top: 60px;
  }

  .content p {
    font-size: 16px;
  }

  .buttons .button {
    font-size: 14px;
    padding: 10px 20px;
  }
}

/* -------------------------- NAV -------------------------- */

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; /* Updated */
  width: 100%;
}

.nav__logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.nav__logo img {
  width: 80px;
  height: 120px;
  margin-right: 10px;
  margin-top: 25px;
}

.nav__title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.nav__link--menu {
  gap: 1em;
}

.nav__items {
  list-style: none;
  text-transform: uppercase;
  font-weight: 600;
}

.nav__link {
  padding: 0;
  display: flex;
  align-items: center;
  position: absolute;
  text-align: right;
  right: 20px;
}

.nav__links {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 8px;
  transition: transform 0.3s ease, font-size 0.3s ease;
  display: inline-block;
  position: relative;
}

.nav__links::after {
  content: "";
  height: 3px;
  width: 0;
  background: #fff; /* Cambiar color del subrayado si lo deseas */
  position: absolute;
  left: 0;
  bottom: -3px; 
  transition: width 0.3s ease; 
}

.nav__links:hover::after {
  width: 100%; 
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img {
  display: block;
  width: 40px;
  height: 40px;
  color: #fff;
}

.nav__close {
  display: var(--show, none);
}

.nav__title-container {
  display: block;
}

.nav__line {
  border: 0;
  border-top: 2px solid #fff;
  width: 100%;
  margin: 5px 0;
}

.nav__subtitle {
  font-size: 14px;
  color: #fff;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .nav__logo img {
    width: 80px;
    position: absolute;
    transform: translateY(5%);
  }
  .nav__title {
    display: none;
  }
}

/* para ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .nav__title {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: 0.7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }
}

/* ----------------------- SECCION NOSOTROS -------------------- */
.about-us {
  padding: 50px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.about-us-content {
  max-width: 1200px;
  margin: auto;
}

.about-us-content span {
  color: var(--color-verde-claro);
  font-weight: 600;
}

.about-us-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--color-verde-claro);
}

.about-us-content h3 {
  font-weight: 400;
  margin-bottom: 25px;
  color: var(--color-texto);
  font-size: 23px;
}

.card {
  display: flex;
  max-width: 1100px;
  margin: auto;
}

.about-us-text,
.about-us-image {
  flex: 1;
}

.about-us-text p {
  text-align: center;
  font-size: 18px;
  color: var(--color-texto);
  line-height: 1.6;
  padding: 20px;
}

.about-us-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.additional-info {
  font-size: 26px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: var(--color-verde-claro);
}

.additional-info span {
  font-weight: 600;
}

/* Media queries para dispositivos de menor tamaño iPads y smartphones */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .about-us-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .about-us-text p {
    padding: 20px;
    text-align: center;
    font-size: 16px;
  }

  .about-us-image {
    order: 0;
  }

  .additional-info {
    font-size: 16px;
    padding: 10px;
  }
}

/* ------------------------ ACTIVIDADES ---------------------- */

.seccion-actividades {
  padding: 30px;
  margin: 15px;
}
.actividad {
  background-color: #ffffff00;
  border-radius: 10px;
  border: 1px solid var(--color-verde-claro);
  padding: 30px;
  width: 320px;
  text-align: center;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor-actividades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.titulo-seccion {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: var(--color-verde-claro);
  margin-bottom: 20px;
}

.descripcion-seccion {
  text-align: center;
  color: var(--color-texto);
  margin-bottom: 20px;
  font-size: 23px;
}

.actividad .seccion-icono {
  font-size: 48px;
  color: #80a571;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.actividad .seccion-contenido {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actividad h3 {
  font-size: 24px;
  color: var(--color-verde-claro);
  margin-bottom: 10px;
  font-weight: 400;
}

.actividad p {
  color: var(--color-texto);
  line-height: 1.5;
  font-size: 14px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .seccion-actividades {
    padding: 0px;
    margin: 15px;
  }

  .actividad {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 30px;
  }

  .contenedor-actividades {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .descripcion-seccion {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .actividad .seccion-icono {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .actividad h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .actividad p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

/* ------------------------- SEPARADOR -------------------------- */
.separador {
  padding: 20;
}

.imagen-fondo {
  position: relative;
}

.imagen-fondo img {
  max-width: 100%;
  height: 350px;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.texto-separador {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  z-index: 1;
  padding: 20px;
}

.separador-info {
  color: #fff;
  font-size: 30px;
}

.separador-info span {
  font-weight: 600;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .texto-separador {
    padding: 0px;
  }

  .separador-info {
    font-size: 18px;
  }
}

/* ---------------------- SERVICIOS ---------------------------- */
.services-section {
  padding: 60px 0;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.service {
  padding: 40px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}

.service-icon {
  font-size: 48px;
  margin-bottom: 20px;
  color: var(--color-verde-claro);
}

.section-service-title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--color-verde-claro);
}

.service-title {
  color: var(--color-verde-claro);
  font-size: 24px;
  line-height: 38px;
  font-style: normal;
  font-weight: 400;
}

.service-description {
  font-size: 16px;
  color: #5f727f;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 25px;
  margin-top: 14px;
  text-align: center;
}

.view-all-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: var(--color-verde-claro);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.view-all-btn:hover {
  background-color: #94bb8a;
  transition: 0.3s ease-in-out;
}

/* ---------------------- GALERIA DE FOTOS ------------------------ */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-bottom: 30px;
}

.column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}

img {
  width: 100%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*------------------------------- TESTIMONIOS ----------------------------*/
.testimonial-section {
  background-color: #80a571;
  padding: 80px 0;
  text-align: center;
  position: relative;
  height: 400px;
  overflow: hidden;
}

.testimonial-container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-title {
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}
.testimonial-slide.active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.testimonial-text {
  color: #fff;
  font-style: italic;
  line-height: 1.4;
  font-size: 20px;
}

.testimonial-author {
  font-style: italic;
  margin-top: 10px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.prev-btn,
.next-btn {
  background-color: #b6c6c9;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
}

.prev-btn {
  left: 30px;
}

.next-btn {
  right: 30px;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  .testimonial-slide {
    opacity: 1;
    width: 100%;
    padding: 80px;
    text-align: center;
    display: none;
  }

  .testimonial-slide.active {
    display: flex; /* Mostrar el testimonio activo */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonial-title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }

  .testimonial-text {
    font-size: 16px;
    text-align: center;
  }

  .testimonial-author {
    font-size: 14px;
    text-align: center;
  }

  .prev-btn,
  .next-btn {
    display: block;
    margin-top: 20px;
  }

  .prev-btn {
    left: 10px;
  }

  .next-btn {
    right: 10px;
  }
}

/* Estilos para dispositivos iPad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .testimonial-container {
    max-width: 90%;
  }

  .testimonial-title {
    font-size: 36px;
  }

  .testimonial-slide {
    width: 80%;
    margin: 0 auto;
  }

  .testimonial-text {
    font-size: 18px;
  }

  .testimonial-author {
    font-size: 16px;
  }
}

/* ------------------------------- PREGUNTAS FRECUENTES------------------------------- */
.faq-section {
  background-color: #fff;
  padding: 40px 20px;
  max-width: auto;
  margin: 0 auto;
  height: 600px;
  overflow: auto;
  text-align: center;
}

.faq-title {
  font-size: 32px;
  margin-bottom: 30px;
  color: var(--color-verde-claro);
  text-transform: uppercase;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  position: relative;
  cursor: pointer;
}

.faq-question {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  font-weight: 400;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  color: #666;
  transition: max-height 0.3s ease;
}

.faq-item.open .faq-answer {
  display: block;
}

.arrow-icon {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.faq-item.open .arrow-icon {
  transform: translateY(-50%) rotate(180deg);
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .faq-section {
    padding: 20px;
    height: auto;
    overflow: visible;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .faq-title {
    font-size: 24px;
  }

  .faq-question {
    font-size: 20px;
  }

  .faq-item {
    padding: 20px 0;
  }

  .arrow-icon {
    display: none;
  }
}

/* ---------------------------------- UBICACION ------------------------------- */
.location-section {
  text-align: center;
}

.section-ubi-title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--color-verde-claro);
  text-transform: uppercase;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 1.5rem;
  }

  .map-container {
    padding-top: 75%;
  }
}

.contact {
  text-align: center;
  padding: 50px 0;
}

.contact-item-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 15px;
}

.contact-item-contact i {
  margin-right: 15px;
  font-size: 28px;
  color: var(--color-verde-claro);
}

.contact-item-contact p {
  font-size: 1.2rem;
  color: var(--color-texto);
}

.contact-item-contact p a {
  color: var(--color-texto);
  text-decoration: none;
}

.contact-item-contact p a:hover {
  color: #0056b3;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
  .contact-item-contact {
    flex-direction: column;
    text-align: center;
  }

  .contact-item-contact i {
    margin-bottom: 10px;
    margin-right: 0;
    font-size: 32px;
  }
}

/* ---------------------------------- FOOTER ------------------------------- */
.footer {
  background-color: #13131a;
  color: #fff;
}

.footer-container {
  max-width: 1140px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* Alinea verticalmente los elementos */
}

.footer-logo img {
  width: 100px;
  height: auto;
}

.contact-info-footer,
.footer-nav {
  flex-basis: calc(33.33% - 240px);
}

.contact-info-footer h3,
.footer-nav h3 {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.contact-item-footer,
.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  text-align: center;
}

.contact-item-footer i,
.contact-item i {
  margin-right: 10px;
  font-size: 18px;
  text-align: center;
}

.contact-item-footer p {
  margin: 0;
  text-decoration: none;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.contact-item-footer a {
  color: inherit;
  text-decoration: none;
}

.footer-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; /* Elimina los bullet points */
}

.footer-nav ul li {
  margin-bottom: 10px;
}

.footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-nav ul li a:hover {
  color: #0056b3;
  transition: 0.3s;
}

.bottom-bar {
  background-color: inherit;
  text-align: center;
  padding: 15px 0;
}

/* Estilos para dispositivos móviles */

@media only screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo img {
    margin-bottom: 20px;
  }

  .contact-info-footer,
  .footer-nav {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .footer-nav {
    text-align: center;
  }

  .footer-nav ul li {
    margin-bottom: 10px;
  }
}

/* ----------------------- BOTÓN FLOTANTE ----------------------- */

.floating-buttons {
  position: fixed;
  bottom: 2px;
  right: 5px;
}

.floating-button {
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  transition: 0.2s ease-in-out;
}

.floating-button a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.floating-button.whatsapp {
  background-color: #25d366;
  font-size: 30px;
}

.floating-button.whatsapp:hover {
  background-color: #1bad50;
}

#btnScrollToTop {
  position: fixed;
  bottom: 54px;
  right: 5px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #3b4349e7;
  color: #99a9b5;
  font-size: 18px;
  cursor: pointer;
  transition: opacity 0.3s;
  text-align: center;
}

.floating-button i.fa-arrow-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnScrollToTop:hover {
  opacity: 0.9;
}

/* -----------------------------  PAG SERVICIOS -------------------------------- */

.service-header {
  background-color: var(--color-verde-claro);
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.service-header .logo img {
  height: 40px;
  margin: auto;
}

.service-header a {
  text-decoration: none;
}

.navbar-services ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-services ul li {
  display: inline-block;
  margin: 0 15px;
}

.navbar-services ul li:first-child {
  margin-left: 0;
}

.navbar-services ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}

/* Subrayado de los enlaces <a> del navbar */
.navbar-services ul li a::after {
  content: "";
  height: 3px;
  width: 0;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -5px; /* Ajustar la posición del subrayado */
  transition: width 0.5s ease;
}

.navbar-services ul li a:hover::after {
  width: 100%;
}
/* -----------------------  PAGINA SERVICIOS ---------------------- */

.services-page-title {
  margin-top: 60px;
}

.services-subtitle {
  font-size: 18px;
  margin: 30px auto;
  color: var(--color-texto);
  max-width: 1000px;
}

.services-subtitle span {
  color: var(--color-verde-claro);
  font-weight: 600;
}

@media (max-width: 768px) {
  .services-subtitle {
    margin: 20px;
    text-align: center;
  }
}
